<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="<%= csrfToken %>">
    <meta name="scope" content="<%= isAuthenticated ? "user" : "guest" %>">
    <meta name="user" content="<%= user ? user.id: '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= env('APP_NAME') %></title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="p-4">
    <nav class="nav">
    <div class="flex" style="max-width:80%">
        <img src="/logo.svg" class="w-20 h-20 rounded-full" />
        <div class="flex flex-col ml-3">
            <h3 class="font-semibold text-xl text-gray-800">
                <a href="/"><%= env('APP_NAME') %></a>
            </h3>
            <p class="text-lg text-gray-700">
                cheering the world
            </p>
        </div>
    </div>

    <div class="nav-toggler inline-block md:hidden">
        <button 
                class="flex items-center px-3 py-2 border rounded text-blue-800 border-blue-600 hover:text-blue-600 hover:border-blue-800">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
    </div>
    <div class="nav-links" data-collapsed="true">
        <% if (isAuthenticated) { %>
            <a class='nav-item' href="/home">Home</a>
            <a class='nav-item border bg-blue-700 text-white hover:text-white' href="/images/create">Upload Image</a>
               <a class='nav-item font-semibold text-gray-700' href="/user/<%= user.id %>"><%= user.firstName  + " " + user.lastName %></a>
            <a class='nav-item' href="#">
            <form action="/logout" method="post" class="inline">
                <div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input class="border-0 bg-transparent cursor-pointer" type="submit" value="Log out"/>
             </div>
            </form>
            </a>
         <% } else { %>
            <a class='nav-item md:border md:border-blue-700 md:rounded-md md:ml-1' href="/signin">Signin</a>
            <a class='nav-item md:border md:border-blue-700 md:rounded-md md:ml-1' href="/signup">Signup</a>
        <% } %>
    </div>
</nav>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function (e) {
    e.preventDefault();
    var toggler = document.querySelector('.nav-toggler');
    toggler.addEventListener('click', function (e) {
        var links = document.querySelector('.nav-links');
        var collapsed = links.getAttribute('data-collapsed');
        if (collapsed === "true") {
            links.style.height = "auto";
            links.style.overflow = 'auto';
            links.setAttribute('data-collapsed','false');
        } else {
            links.style.height = 0;
            links.style.overflow = 'hidden';
            links.setAttribute('data-collapsed','true');
        }
    })
});
</script>

     <% if (typeof(message)  == "object" && (message.errors.length || message.success.length ))  { %>
    <div class="p-4 rounded-md text-center w-auto mx-auto text-lg bg-red-200 md:w-1/2">
        <% if (message.errors) { %>
        <% for (const key in message.errors) { %>
        <small class='text-red-600'><%= message.errors[key] %></small><br>
        <% } %>
        <% } %>
        <% if (message.success) { %>
        <% for (const key in message.success) { %>
        <small class='text-green-500'><%= message.success[key] %></small>
        <% } %>
        <% } %>
        <% } %>
    </div>